.navbar__container {
	width: 100%;
	height: 74px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 2px 74px; */
	background-color: var(--text-color-white);
}
.navbar {
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.navbar__menuItems {
	display: flex;
	align-items: center;
	column-gap: 28px;
	font-weight: 500;
	font-size: 18px;
	color: var(--text-color-secondary);
}
.navbar__menuItem {
	opacity: 25%;
}

.navbar__userProfile {
	display: flex;
	vertical-align: bottom;
}

.navbar__userProfile span {
	padding: 0px 10px 0px 6px;
}

@media screen and (max-width: 700px) {
	.navbar__container {
		height: 108px;
		align-items: flex-end;
	}
	.navbar {
		width: 95%;
	}
	.navbar__menuItem {
		display: none;
	}
	.navbar__userProfile {
		background: #800080;
		border-radius: 10px;
		color: var(--text-color-white);
		padding: 12px 25px;
		font-size: 1rem;
		margin-right: 20px;
	}

	.navbar__userProfile span {
		padding-left: 0px;
	}

	.navbar__userProfile .user_logo {
		display: none;
		color: aliceblue;
		fill: aliceblue;
	}
}
